{% import "macros/form.html" as form %}

{% macro extra_field(numbered_extras_dict, extra_name, errors, h, label="", placeholders=(), classes=[], attrs={}, is_required=false, key_values=()) %}
    {% set numbered_extra = h.get_or_create_numbered_extra(numbered_extras_dict, extra_name) %}
    {%- set name = "extra__" ~ numbered_extra[1]['key'] -%}
    {%- set prefix = 'extras__%s__' % numbered_extra[0] -%}
    {%- set classes = (classes|list) -%}
    {%- set label_id = name ~ "-key" -%}
    {%- set extra_html = caller() if caller -%}
    {%- set error = errors[prefix ~ 'key'] or errors[prefix ~ 'value'] -%}

    {%  do classes.append('control-medium') %}

    {% call form.input_block(label_id, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="input-prepend" {{ form.attributes(attrs) }}>
        <input name="{{ prefix }}key" type="hidden"  value="{{ numbered_extra[1]['key'] | empty_and_escape }}"  />
        <input name="{{ prefix }}value" type="text"  value="{{ numbered_extra[1]['value'] | empty_and_escape }}" placeholder="{{ placeholders[1] }}" />
    {#  Disable removal - TODO : remove key if empty value
      {% if numbered_extra[1]['key'] or numbered_extra[1]['value'] or error %}
        <label class="checkbox" >
            <input type="checkbox" name="{{ prefix }}remove" {% if False %} checked{% endif %} /> <span>{{ _('Remove') }}</span>
        </label>
        {% endif %} #}
    </div>
    {% endcall %}
{% endmacro %}