{% ckan_extends %}

{% import "macros/vodap_macros.html" as vodap_macros %}
{% set numberedExtrasDict = h.numbered_extras_dict(data['extras']) %}

{% block body %}

    {# Reorganize fields to match specified order in VODAP spec #}

    {{ self.package_basic_fields_title() }}

    {{ self.package_basic_fields_url() }}

    {{ self.package_basic_fields_description() }}

    {{ self.package_basic_fields_org() }}

    {{ self.package_basic_fields_license() }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'contact_name',
            label=_('Contact Point') ~ ' ' ~ _('Name'),
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'contact_email',
            label=_('Contact Point') ~ ' ' ~ _('Email'),
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'contact_uri',
            label=_('Contact Point') ~ ' ' ~ _('URL'),
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'publisher_name',
            label=_('Publisher') ~ ' ' ~ _('Name'),
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'publisher_email',
            label=_('Publisher') ~ ' ' ~ _('Email'),
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'publisher_uri',
            label=_('Publisher') ~ ' ' ~ _('URL'),
            errors = errors,
            h=h
        ) }}

    {{ self.package_basic_fields_tags() }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'theme',
            label=_('Theme') ,
            errors = errors,
            h=h
        ) }}


    {# BijSluiter #}
    {% block package_metadata_fields_url %}
        {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
    {% endblock %}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'language',
            label=_('Language') ,
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'issued',
            label=_('issued') ,
            errors = errors,
            h=h
        ) }}

    {{ vodap_macros.extra_field(
            numbered_extras_dict=numberedExtrasDict,
            extra_name = 'modified',
            label=_('modified') ,
            errors = errors,
            h=h
        ) }}

    {% block package_metadata_fields_version %}
        {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
    {% endblock %}


    {#  {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}  #}

    {# These fields are not editable, but must be present to have a valid upload #}
    <div style="display: {{ 'block' if c.userobj.sysadmin else 'none' }}">
        <h3>{{ _('System information') }}</h3>
    
        {% block package_metadata_author %}
            {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

            {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
        {% endblock %}

        {% block package_metadata_fields_maintainer %}
            {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

            {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
        {% endblock %}


        {% snippet 'package/snippets/vodap_extra_form_fields.html', numbered_extras=h.filter_numbered_extras(numberedExtrasDict.values(), ('contact_name', 'contact_email', 'contact_uri', 'publisher_name', 'publisher_email', 'publisher_uri', 'theme', 'language', 'issued', 'modified')), errors=errors %}

    </div>

{% endblock %}